<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/profile.css">
</head>
<body>
{{>navbar}}
{{>fcsidebar}}

<div class = 'prf-brd'>
<div class = 'table-brd'>
<table id="customers">
  <tr>
    <th>Name</th>
    <th>Roll No</th>
    <th>Date Of Birth</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{reg}}</td>
    <td>{{dob}}</td>
    <td>{{address}}</td>
    <td>{{phone}}</td>
    <td>{{email}}</td>
  </tr>
</table>
</div>
</div>

   <script src="./js/regmain.js"></script>
</body>
</html>